In [77]:
import pandas as pd
import numpy as np
import re

In [78]:
mock_data = pd.read_csv("./vso_ratataou_ace_mock_data.csv" ,encoding='utf-8')

In [79]:
mock_data.head()

,Name,Pronouns,UFL Email,Phone,Socials,Year,Major,Other Orgs,"Role (0=Big,1=Little)",Preferred Littles,...,Favorite Food,"EarlyBird/NightOwl (0=Early,1=Night)",Extroversion (1-5),Good Advice (1-5),Plans Style (1-5),Study Frequency (1-5),Gym Frequency (1-5),Spending Habits (1-5),Friday Night,Additional Info (Optional)
0,Taylor Jarvis,they/them,daniel910@ufl.edu,(673)774-0860,@jeffrey63,0,Finance,VSO,1,NaN,...,I would literally eat anything,1,4,4,3,3,1,3,gaming all night,I love hanging out at Plaza of Americas
1,Corey Knox,she/her,gabriel680@ufl.edu,1713894873,@chris19,0,Mechanical Engineering,FSA,1,NaN,...,Asian,0,3,3,3,4,2,2,gaming all night,I love hanging out at Plaza of Americas
2,Mark Reyes,they/them,julie359@ufl.edu,(044)445-6922x353,@tracy38,0,Computer Science,VSO,1,NaN,...,Greek/Mediterranean,1,3,3,3,3,1,5,gaming all night,NaN
3,Kathleen Ballard,she/her,tara913@ufl.edu,119.318.8215,@james40,0,Finance,AAA,1,NaN,...,Greek/Mediterranean,0,4,4,1,3,1,2,gaming all night,NaN
4,Dawn Coleman,they/them,angela816@ufl.edu,931-155-4194x903,@joseph45,0,Data Science,HSA,1,NaN,...,American,1,2,2,2,4,2,1,dinner with friends,NaN

In [81]:
# Binary Encoding (0 or 1)
main_df = pd.DataFrame(mock_data)
column_names = list(main_df.columns)
print(column_names)

['Name', 'Pronouns', 'UFL Email', 'Phone', 'Socials', 'Year', 'Major', 'Other Orgs', 'Role (0=Big,1=Little)', 'Preferred Littles', 'Preferred Bigs', 'Pairing Requests (Optional)', 'On/Off Campus (0=On,1=Off)', 'Has Car (0=No,1=Yes)', 'Ideal Big/Little', 'Looking For ACE', 'Free Time', 'Hobbies', 'Favorite Artists/Songs', 'Icks', 'Talk for Hours About', 'Self Description', 'Best Joke', 'Favorite Food', 'EarlyBird/NightOwl (0=Early,1=Night)', 'Extroversion (1-5)', 'Good Advice (1-5)', 'Plans Style (1-5)', 'Study Frequency (1-5)', 'Gym Frequency (1-5)', 'Spending Habits (1-5)', 'Friday Night', 'Additional Info (Optional)']

KeyError: 'self_description'

In [82]:
def clean_column_name(col):
    # Remove parentheses and their contents
    col = re.sub(r"\(.*?\)", "", col)
    # Replace spaces and slashes with underscores
    col = col.replace(" ", "_").replace("/", "_")
    # Convert to lowercase and strip leading/trailing underscores
    return col.strip().lower()

main_df.columns = [clean_column_name(col) for col in main_df.columns]
print(binary_df.columns)

Index(['name', 'pronouns', 'ufl_email', 'phone', 'socials', 'year', 'major',
       'other_orgs', 'role_', 'preferred_littles', 'preferred_bigs',
       'pairing_requests_', 'on_off_campus_', 'has_car_', 'ideal_big_little',
       'looking_for_ace', 'free_time', 'hobbies', 'favorite_artists_songs',
       'icks', 'talk_for_hours_about', 'self_description', 'best_joke',
       'favorite_food', 'earlybird_nightowl_', 'extroversion_', 'good_advice_',
       'plans_style_', 'study_frequency_', 'gym_frequency_',
       'spending_habits_', 'friday_night', 'additional_info_'],
      dtype='object')

In [85]:
# Fitlering columns to convert
"""
binary_cols = ['on_off_campus_','has_car_']
mapping = {'On-Campus': 1, 'Off-Campus': 0, 'Yes': 1, 'No': 0}
for col in binary_cols:
    binary_df[col] = binary_df[col].map(mapping)
"""
print(main_df['on_off_campus_'], main_df['has_car_'])

0       1
1       0
2       1
3       1
4       0
       ..
1995    0
1996    1
1997    1
1998    0
1999    0
Name: on_off_campus_, Length: 2000, dtype: int64 0       0
1       1
2       1
3       1
4       0
       ..
1995    1
1996    1
1997    0
1998    0
1999    1
Name: has_car_, Length: 2000, dtype: int64

In [86]:
## One Hot Encoding
"""
 For categorical questions with a fixed number of mutually exclusive options (e.g., multiple choice)
 transforms a single column of categorical data into multiple new columns, one for each unique category. 
 Each new column contains binary values (0 or 1) indicating the presence of that category
 Form Question Example: 
     What year are you? (Freshman, Sophomore, Junior, Senior)


"""
# Perform one hot encoding
one_hot_encoded_df = pd.get_dummies(main_df['year'], prefix='year', dtype=int)

main_df = main_df.join(one_hot_encoded_df)

print(main_df)

                  name   pronouns            ufl_email                phone  \
0        Taylor Jarvis  they/them    daniel910@ufl.edu        (673)774-0860
1           Corey Knox    she/her   gabriel680@ufl.edu           1713894873
2           Mark Reyes  they/them     julie359@ufl.edu    (044)445-6922x353
3     Kathleen Ballard    she/her      tara913@ufl.edu         119.318.8215
4         Dawn Coleman  they/them    angela816@ufl.edu     931-155-4194x903
...                ...        ...                  ...                  ...
1995   Stephen Johnson     he/him  courtney615@ufl.edu   038.917.8624x41924
1996         Emma Hart    she/her  danielle955@ufl.edu           5664866850
1997      Gerald Davis  they/them     joshua18@ufl.edu  (254)065-5691x55108
1998  Taylor Dominguez    she/her    lauren547@ufl.edu   489.462.8788x88092
1999      Joseph Young    she/her    nathan675@ufl.edu   (893)438-4626x6667

         socials  year                   major other_orgs  role_  \
0     @jeffrey63     0                 Finance        VSO      1
1       @chris19     0  Mechanical Engineering        FSA      1
2       @tracy38     0        Computer Science        VSO      1
3       @james40     0                 Finance        AAA      1
4      @joseph45     0            Data Science        HSA      1
...          ...   ...                     ...        ...    ...
1995  @melissa32     1                 Biology        CSA      0
1996  @shannon39     2                 Biology        HSA      0
1997   @amanda41     2                 Finance        VSO      0
1998   @monica52     2            Data Science        AAA      0
1999  @cynthia89     1        Computer Science        CSA      0

      preferred_littles  ...  good_advice_ plans_style_  study_frequency_  \
0                   NaN  ...             4            3                 3
1                   NaN  ...             3            3                 4
2                   NaN  ...             3            3                 3
3                   NaN  ...             4            1                 3
4                   NaN  ...             2            2                 4
...                 ...  ...           ...          ...               ...
1995                4.0  ...             4            3                 4
1996                5.0  ...             3            3                 4
1997                5.0  ...             5            3                 5
1998                2.0  ...             3            3                 4
1999                3.0  ...             3            3                 2

      gym_frequency_ spending_habits_         friday_night  \
0                  1                3     gaming all night
1                  2                2     gaming all night
2                  1                5     gaming all night
3                  1                2     gaming all night
4                  2                1  dinner with friends
...              ...              ...                  ...
1995               2                3  dinner with friends
1996               2                1  studying at Marston
1997               4                4     gaming all night
1998               1                4       sleeping early
1999               1                4     gaming all night

                             additional_info_ year_0 year_1 year_2
0     I love hanging out at Plaza of Americas      1      0      0
1     I love hanging out at Plaza of Americas      1      0      0
2                                         NaN      1      0      0
3                                         NaN      1      0      0
4                                         NaN      1      0      0
...                                       ...    ...    ...    ...
1995                Looking for study buddies      0      1      0
1996  I love hanging out at Plaza of Americas      0      0      1
1997                                      NaN      0      0      1
1998                                      NaN      0      0      1
1999                                      NaN      0      1      0

[2000 rows x 36 columns]

In [87]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import euclidean_distances
from scipy.spatial import distance

In [88]:
## TF-IDF Vectorization
"""
TLDR: Keyword focused
When: Free-response where specific keywords are important for matching
(e.g., shared hobbies, academic majors, favorite artists)

What: Term Frequency-Inverse Document Frequency
  statistical measure that evaluates how relevant a word is to a document in a collection of documents
  more frequent more better
'corpus' refers to the text-response

Form Question Examples: 
    Major/Minor/Track, 
    What are your main hobbies and interests?, 
    Favorite genre(s)?


"""

# Initialize vectorizer
tfidf_vectorizer =  TfidfVectorizer(stop_words='english')

# Fit vector into data & transform into matrix
tfidf_matrix = tfidf_vectorizer.fit_transform(main_df['hobbies'])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), 
                        columns=tfidf_vectorizer.get_feature_names_out())

print(tfidf_df)

       cooking   gaming       gym    movies     music  painting  photography  \
0     0.000000  0.00000  0.000000  0.577863  0.576323       0.0     0.000000
1     0.000000  0.00000  0.000000  0.000000  0.715089       0.0     0.000000
2     0.000000  1.00000  0.000000  0.000000  0.000000       0.0     0.000000
3     0.000000  0.00000  0.000000  0.000000  0.000000       0.0     0.713790
4     0.000000  0.00000  0.698139  0.000000  0.000000       0.0     0.715962
...        ...      ...       ...       ...       ...       ...          ...
1995  0.000000  0.00000  0.575472  0.579059  0.577515       0.0     0.000000
1996  0.000000  0.00000  0.000000  0.000000  0.000000       0.0     0.713790
1997  0.000000  1.00000  0.000000  0.000000  0.000000       0.0     0.000000
1998  0.580971  0.00000  0.000000  0.570040  0.000000       0.0     0.580971
1999  0.000000  0.59664  0.000000  0.000000  0.000000       0.0     0.000000

       reading  traveling
0     0.000000   0.577863
1     0.699033   0.000000
2     0.000000   0.000000
3     0.000000   0.700360
4     0.000000   0.000000
...        ...        ...
1995  0.000000   0.000000
1996  0.000000   0.700360
1997  0.000000   0.000000
1998  0.000000   0.000000
1999  0.560214   0.574614

[2000 rows x 9 columns]

In [89]:
# S-BERT Embedding
"""
TLDR: Semantic Meaning, Context focused
When: Open-ended where SEMANTIC MEANING, CONTEXT & NUANCE matters more than keywords
    Good for personality, goals & abstractons
What: BERT model using embeddings for texts, measured by cosine similarity
Form Question Examples: 
    How would you describe your ideal big/little?,
    What are you looking for when signing up for ACE?, 
    Describe yourself in your own words!
"""
# Documentation: https://sbert.net/index.html
from sentence_transformers import SentenceTransformer

0          Ahead ten civil theory fly ready skin against.
1             Defense stage fall where his laugh mention.
2            Seven hand across anything also bad it site.
3       Situation drive they general involve risk stud...
4       Crime area strategy bill physical American cou...
                              ...
1995    It explain response material apply begin estab...
1996    Song hear executive ask answer production do t...
1997    Often usually though fire successful pass mont...
1998      Range behavior fall series party music officer.
1999       People which security ground player we chance.
Name: self_description, Length: 2000, dtype: object

In [90]:
# Loading pretrained model
# More Models https://sbert.net/docs/sentence_transformer/pretrained_models.html 
model = SentenceTransformer("all-MiniLM-L6-v2")

# Encode sentences to get their embeddings
# output: list of np arrays (vectors)
embeddings = model.encode(main_df['self_description'])

# Embeddings as a new column
main_df['self_description_embedding'] = list(embeddings)

print("Shape of one embedding:", main_df['self_description_embedding'].shape)
print("First embedding vector:", main_df['self_description_embedding'])

Shape of one embedding: (2000,)
First embedding vector: 0       [-0.020410795, 0.04957276, 0.008686418, 0.0378...
1       [0.0237088, 0.03708684, -0.03792438, -0.022004...
2       [-0.0785125, -0.091397375, 0.008947419, 0.0064...
3       [0.01942276, 0.0009503136, -0.001155221, 0.006...
4       [-0.03206001, 0.048228964, -0.021651598, -0.02...
                              ...
1995    [-0.07386307, -0.0054821246, 0.03733131, 0.015...
1996    [-0.040608127, 0.086723156, 0.056251753, -0.08...
1997    [0.028389689, -0.055047974, -0.01629945, 0.023...
1998    [-0.022966195, -0.016591884, 0.016417472, -0.0...
1999    [-0.006967092, -0.01825596, -0.0497002, -0.069...
Name: self_description_embedding, Length: 2000, dtype: object